@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

:root{
  --color-azure: #3e8ef1;
  --lighter-black: #121212;
  --theme-purple: #4e54c8;
}

.fill-5{
  height: 5vh;
}

