/*
index.css is imported in index.js, which renders our application
That means index.css is at the top of the hierarchy, so everyone can access it
This document contains the root styles of the application 
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

:root{
  --color-azure: #3e8ef1;
  --color-storm: #a4c9d8;
  --color-tangerine: #ff4935;
  --color-citric: #cdf567;
  --color-sunflower: #ffbc4b;
  --color-pink: #ffd0d5;
  --color-salmon: #fb7ea8;
  --color-factory-yellow: #ffe818;
  --color-black: #171313;
  --color-white: #fff;
  --color-muted-black: #837e7e;
}

