//set text color based on background
@function set-text-color($back-color){
    @if(lightness($back-color) > 70){
        @return #333;
    }@else {
        @return lightgray;
    }
}

.card {
    display: grid;
    grid-template-rows: 225px 1fr;
    grid-gap: 1rem;
    padding: 1rem;


    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .text-flex{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    .category-tag{
        background-color: var(--theme-purple);
        border-radius: 50px;
        padding: 4px 8px;
    }
}