@import "../../index";

.card {
    display: grid;
    width: 100%; height: 100%;
    grid-template-rows: 7fr 3fr;
    grid-gap: 1rem;
    padding: 1rem;


    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .text-flex{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    .category-tag{
        background-color: var(--theme-purple);
        border-radius: 50px;
        padding: 4px 8px;
    }

    button{
        @extend %btn-reset;
        cursor: pointer;
    }
}

.show-login{
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: clamp(325px, 30%, 1200px);
}
