.card {
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-gap: 1rem;
    padding: 20px;
    color:lightgray;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .text-flex{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    .category-tag{
        background-color: #3f2b96;
        border-radius: 50px;
        padding: 4px 8px;
    }
}