//--------Gallery/Category Styles -----------
.blur{
    opacity: 0.75;
}

.gallery-container{
    width: 100%; min-height: 100vh;
    background: var(--lighter-black);
    color: whitesmoke;
    position: relative;
}

.gallery-welcome{
    display: flex; align-items: center;
    width: 80%; min-height: 300px;
    padding: 2rem;
    font-size: 2rem;
}

.card-popup{
    position: absolute;
    top: 0; left:0;
    display: flex; justify-content: center; 
    width: 100%;
}

.submit-teaser{
    display: flex; flex-wrap: wrap;
    width: 100%;
    min-height: 600px;
    padding: 5rem 2rem;
    background-color: white;
}

.teaser-left{
    flex: 30%;
    padding: 1rem;
    font-size: 1.5rem;

    button{
        width: 90%;
        margin: 50px 0; padding: 20px;
        border: none; border-radius: 50px;
        background: linear-gradient(to right, #4e54c8, #7279fc);
        box-shadow: 0 4px 10px 0 #4e54c8;
        font-size: 2rem;
        cursor: pointer;
    
        &:hover{ transform: scale(0.98);}
    }
    
    a{
        text-decoration: none;
        color: lightgray;
    }
}

.teaser-right{
    flex: 70%;
    padding: 2rem;
    background-color: #d7d9fc;
    border-radius: 1rem;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 800px) {
    .submit-teaser{
        padding: 1rem;
    }
    .teaser-left, .teaser-right{
        flex: 100%;
        padding: 1rem;
    }
}
