//-----------GalleryHome Styles ----------
.galleryhome-welcome{
    display: flex; align-items: center;
    width: 100%; min-height: 400px;
    background-color: var(--lighter-black);
    color: whitesmoke;
    font-size: 2rem;

    .welcome-text{
        width: clamp(300px, 40%, 600px);
        padding: 0.5rem 2rem;
    }
}

.category-container{
    display: flex; align-items: center; justify-content: flex-end;
    width: 100%;
    padding: 1rem 1rem 2rem;
    background-color: var(--lighter-black);
    color: white;

    .category-grid{
        flex: 0 1 75%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1rem;
        padding: 1rem;
    }
}

.category-grid-item{
    width: 100%; height: 100%;
    display: grid;
    grid-template-rows: 275px max-content;
    grid-gap: 0.3rem;
    text-align: right;
    position: relative;

    img{
        width:100%; height:100%;
        object-fit: cover;
        border: 1px solid gray; border-radius: 2px;
    }
}

.overlay{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 275px;
    background-color: black;
    cursor: pointer;
    opacity: 0;

    a{
        display: block;
        width: 100%; height: 100%;
    }

    &:hover{
        opacity: 0.8;

        h2{
            position: absolute; 
            top: 5%;
            width: 100%;
            text-align: center;
        }
    }
}


//---------Gallery Card---------
.large-card{
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    
    width: clamp(325px, 40%, 1200px);
    height: 75vh;
    background-color: whitesmoke;
    color: var(--lighter-black);
    border-radius: 10px;

    z-index: 100;

    img{
        width: clamp(300px, 90%, 1200px);
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        justify-self: center;
    }
}
