@import '../../index';

.fill-screen{
    min-height: 100vh;
    background-color: var(--lighter-black);
    color: whitesmoke;
}

.top-spacer{
    height: 5vh;
}


//----------- Feature Container -----------
.feature-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.feature-left{
    flex: 50%;
    padding: 5rem 1rem 1rem 3rem;
    margin: 1rem 0;
    font-size: 1.6rem;

    button{
        margin: 1rem 1rem 1rem 0;
        padding: 8px 16px;
        width: clamp(200px, 30%, 500px);
        background: #4e54c8;
        border: none;
        border-radius: 10px;
        line-height: 2; 

        &:hover{
            transform: scale(0.95);
        }
    }

    a{
        text-decoration: none;
        color: white;
        font-size: 1.6em
    }
}

.feature-right{
    flex: 50%;
    margin: 1rem 0;
    padding: 1rem 1rem 1rem 3rem;
}

@media screen and (max-width: 800px){
    .feature-left, .feature-right{
        padding-top: 1rem;
        flex: 100%;
    }
}


//---------- Analysis Container ----------
.analysis-container{
    display: flex; flex-wrap: wrap;
    width: 100%; 
}

.left-experts{
    flex: 30%;
    padding: 1rem;
    font-size: 1.6rem;
    line-height: 1.3;
    
    ul{
        list-style-type: none;

        li{
            padding: 0.5rem;
        }
    }
}

.right-slides{
    flex: 70%;
    position: relative;
    padding: 1rem;
    
    .btn-left{
        @extend %btn-reset;
        position: absolute;
        top: 50%; left: -0.5rem;
        padding: 1rem;
        transform: translateY(-50%);
    }

    .btn-right{
        @extend %btn-reset;
        position: absolute;
        top: 50%; right: 0;
        transform: translateY(-50%);
    }

    i{
        opacity: 0.3;
        cursor: pointer;
        padding: 0.5rem;

        &:hover{
            opacity: 1;
        }
    }
}

.analysis-cards{
    display: flex; flex-flow: row nowrap;
    width: 100%;
    padding: 0.5rem;

    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Hide scrollbar IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar{
        display: none; /* Chrome, Safari and Opera */
    }
    
    .analysis-card{
        flex: 0 0 300px;
        margin-right: 1rem;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
       
        &.active{
            border: 3px solid gold; border-radius: 5px;
        }
    }
}


@media (max-width: 800px) {
    .left-experts, .right-slides{
        flex: 100%;
        overflow: hidden;
    }
}

.analysis-text-container{
    display: flex; flex-wrap: wrap;
    padding: 0 1.5rem;

    .filler{
        flex: 30%;
    }
    .text{
        flex: 70%;
        padding: 0.5rem;
    }
    ul{
        list-style-type: none;
    }

    li{
        margin-bottom: 1rem;
    }

    span{
        font-size: 1.3rem;
    }

    @media (max-width: 800px) {
        .filler{
            display: none;
        }
        .text{
            flex: 100%;
        }
    }
}











