.feature-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    background-color: black;
    color: whitesmoke;
}

.feature-left{
    flex: 50%;
    margin: 1rem 0;
    font-size: 1.6rem;
    padding: 1rem;

    button{
        margin: 1rem 1rem 1rem 0;
        padding: 8px 16px;
        width: clamp(200px, 30%, 500px);
        background: #4e54c8;
        border: none;
        border-radius: 10px;
        line-height: 2; 

        &:hover{
            transform: scale(0.95);
        }
    }

    a{
        text-decoration: none;
        color: white;
        font-size: 1.6em;
    }
}

.feature-right{
    flex: 50%;
    margin: 1rem 0;
}

@media screen and (max-width: 800px){
    .feature-left, .feature-right{
        flex: 100%;
    }
}

.feature-analysis{
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    text-align: center;

    .analysis-item{
        display: flex;
        width: 100%;
        padding: 1rem;
    
        .analysis-card{
            max-width: 325px;
            border: 1px soild black;
        }
    }
}




