@import '../../index';

.slideshow-container{
    display: flex; justify-content: space-between;
    width: 100%; height: 100%;
}

.slideshow-track{
    width: clamp(350px, 60%, 1200px);
    height: 600px;
    position: relative;

    button{
        @extend %btn-reset;
        cursor: pointer;
        font-size: 1.1rem;
    }
}

.slideshow-card{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    padding: 0.5rem;
    background-color: whitesmoke;
    color: var(--lighter-black);
    border-radius: 2px;
    opacity: 0;

    transition: opacity 1s ease-out;

    &.active{
        opacity: 1;
        transition: opacity 1s ease-in;
    }
}

.slideshow-nav{
    align-self: center;
    display: flex; flex-direction: column; justify-content: space-between;
    height: 100px;
    margin: 0.5rem;

    i{
        color: white;

        &:hover{ cursor: pointer;}
    }

    button { @extend %btn-reset }
}