@import '../../index';

.slideshow-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.slideshow-track{
    position: relative;
    width: clamp(350px, 60%, 1200px);
    height: 600px;
}

.slideshow-slide{
    position: absolute;
    top: 0; left: 0;
    display: grid;
    grid-template-rows: 250px 1fr 1fr;
    grid-gap: 1rem;

    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 1.2rem;
    background-color: whitesmoke;
    color: black;
    border-radius: 2px;

    transition: opacity 1s ease-out;

    &.active{
        opacity: 1;
        transition: opacity 1s ease-in;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px; 
        
    }

    .text-flex{
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }

    .category-tag{
        background-color: var(--theme-purple);
        border-radius: 50px;
        padding: 4px 8px;
    }
}

.slideshow-nav{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    margin: 0.5rem;

    i{
        color:white;

        &:hover{
            cursor:pointer;
        }
    }

    button {     
        @extend %btn-reset
    }
}