.home-welcome{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: black;

    .welcome-message{
        max-width: 1060px;
        padding: 10px;
        color:#fff;
        font-size: 2rem;
        font-weight: 400;
    }
}

.big-discover-button{
    width: clamp(300px, 50%, 600px);
    margin: 50px 0;
    padding: 20px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, #fc6076, #ff9a44);
    color: whitesmoke;
    box-shadow: 0 4px 10px 0 rgba(252, 104, 110, 0.75);
    font-size: x-large;
    cursor: pointer;

    &:hover{
        background: linear-gradient(to left, #fc6076, #ff9a44);
        transform: scale(0.95);
    }
}

.flow-chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .flow-item{
        width: clamp(300px, 50%, 1200px);
        padding: 20px;
        margin: 20px;
        border: 1px solid black;
    }
}




