.Home-main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.welcome-message{
    padding: 10px;
    color:#fff;
    font-size: 2rem;
    font-weight: 400;
    max-width: 1060px;
}

.big-discover-button{
    width: clamp(300px, 50%, 600px);
    margin: 50px 0;
    padding: 20px;
    border: 1px solid black;
    border-radius: 50px;
    background: linear-gradient(45deg,#e66465, #9198e5);
    font-size: x-large;
    color: whitesmoke;
    cursor: pointer;
}
.big-discover-button:hover{
    background: linear-gradient(45deg,  #fa6e6e,#9ea6f8);
}


