.home-outer-container{
    min-height: 90vh;
    background-color: var(--lighter-black);
    color: whitesmoke;
}

.home-spacer{ height: 6vh;}
.whitesmoke {background-color: whitesmoke;}

.home-inner-container{
    display: flex; flex-wrap: wrap; justify-content: center;
    width: 100%;
    padding: 1rem;
}

@keyframes transitionBackground{
    0%{background-position: 1% 0%;}
    50%{background-position: 99% 100%;}
    100%{background-position: 1% 0%;}
}

.home-left{
    flex: 50%;
    padding: 5rem;
    font-size: 1.6rem;

    button{
        width: clamp(200px, 30%, 500px);
        margin: 1rem; margin-left: 0;
        padding: 16px;
        border: none; border-radius: 5px;
        color: white;
        font-size: 1.3rem; 
        background: linear-gradient(270deg, #ff4e4e, #f9ae23); 
        background-size: 400% 400%;
        cursor: pointer;
        animation: transitionBackground 5s ease infinite;
        
        &.delay{ animation-delay: 1s;}
        &:hover{ transform: scale(0.98);}
    }

    p{
        max-width: 75%; 
        margin-top: 8px;
        color: #B3B3B3; 
        font-size: 1.4rem; 
        line-height: 1.3;
    }
}

.home-right{
    flex: 50%;
    padding: 1rem 3rem;
}

@media screen and (max-width: 1000px){
    .home-left, .home-right{
        padding: 1rem; padding-left: 3rem;
        flex: 100%;
    }
    .home-spacer{height: 4vh;}
}

@media  (max-width: 500px) {
    .home-left{
        padding: 1rem;
        align-self: center;
        p{max-width: 100%;}
    }
    .home-right{
        padding: 0.5rem;
        align-self: center;
    }
}


//------    Roadmap    -----
//-----     -------    -----
.roadmap-container{
    width: 100%;
    background-color: whitesmoke;
    padding: 1rem;
}

.roadmap-opener{
    max-width: 800px;
    padding: 5rem 5rem 0;
    font-size: 1.3rem;
    color: var(--lighter-black);

    h1{ 
        margin-bottom: 8px ;
    }

    p{
        font-family: 'Noto Sans JP';
        color: #273240;
    }

    p:nth-child(1){
        font-size: 1rem; 
        margin-bottom: 8px;
    }
}

.roadmap-items{
    display: flex; flex-flow: row wrap; align-items: center;
    padding: 5rem; padding-bottom: 1rem;

    .left-image{
        flex: 60%; 

        img{
            width: 100%; height: 100%;
            object-fit: cover;
            aspect-ratio: 16 /9;
        }
    }

    .right-text{
        flex: 40%; 
        display: flex; justify-content: center;
        padding: 2rem;
        color: var(--lighter-black);
        font-size: 1.1rem;
        
        p{
            font-family: 'Noto Sans JP';
            color: #273240;
        }

        button{
            padding: 14px 16px; margin: 8px 0;
            background-color: #4e54c8;
            color: whitesmoke;
            border: none; border-radius: 5px;
            width: 100px;
            cursor: pointer;
            font-size: 1.3rem;
        }
    }

    .text-wrapper{
        max-width: 400px;
    }
}

@media (max-width: 1000px) {
    .roadmap-opener, .roadmap-items{
        padding: 2rem;
    }
    .roadmap-items .left-image{
        flex: 100%; 
    }
    .roadmap-items .right-text{
        flex: 100%; 
        padding: 2rem 0 0;
        justify-content: flex-start;
    }
}
