


.Home-main{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../images/Wavey-Fingerprint.svg');
}

.welcome-message{
    color:#fff;
    font-size: 2rem;
    font-weight: 400;
    text-align:center;
    max-width: 1060px;
}

.feature-slideshow{
    background-color: whitesmoke;
}

.Home-extras{
    height: 100vh;
    text-align: center;
    padding: 20px;
    margin: 20px;
    display:flex;
    justify-content: center;
}
