.slideshow-container{
    display:flex;
    justify-content: center;
    align-items:center;
    position:relative;
    width:1000px;
    border:1px solid black;
}
.left-arrow{
    position:absolute;
    top:50%;
    left:50px;
}
.right-arrow{
    position:absolute;
    top:50%;
    right:50px;
}

/*---------- Card Styles ---------- */
.SampleCardc{
    display: grid;
    grid-template-rows: 200px 1fr max-content;
    max-width: 300px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
}

.SampleCardc:hover{
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.4);
}

.SampleCardc img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.SampleCardc .card-text{
    padding: 5px;
    text-align:center;
    line-height: 1.4;
}

.SampleCardc button{
    padding: 8px;
    margin: 2px;
    background-color: azure;
    border-radius: 5px;
}