@import "../../index";

:root{
    --box-margin: 1rem;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f3f7f7;
    color: black;
    position: relative;

    .form-active{
        opacity: 0.5;
    }

    .profile-left {
        flex: calc(30% - var(--box-margin)*2);
        margin: 0 var(--box-margin);
        padding: 1rem 3rem;
        min-height: 400px;
    }

    .profile-right {
        flex: calc(70% - var(--box-margin)*2);
        margin: 0 var(--box-margin);
        min-height: 400px;
        display: flex; flex-direction: column;
    }

    @media (max-width: 900px) {
        .profile-left{
            flex: 100%;
            padding: 1rem;
        }
        .profile-right{
            flex: 100%;
        }
    }    
}

.avatar{
    display: grid; place-items: center;
    width: 100px; height: 100px;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: var(--theme-purple);
    color: lightgray;
    font-size: 2.5rem;
}

.profile-header{
    margin-bottom: 1rem;
}

.profile-about{
    margin: 1rem 0;

    input{
        display: block;
        width: 80%;
        padding: 8px 16px;
        margin: 8px 0;
        border-radius: 5px;
    }

    form button{
        padding: 8px 16px;
        background-color: var(--lighter-black);
        color: whitesmoke;
        cursor: pointer;
        border-radius: 5px; border: none;
        margin: 8px 0;
    }
}

.profile-edit{
    display: flex; justify-content: space-between; align-items: center;
    
    button{
        @extend %btn-reset;
        cursor: pointer;
    }

    
}

.right-item{
    width: 100%;
    min-height: 300px;
    padding: 1rem;
    margin: 1rem 0;
    background-color: white;
    color: black; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.link-submit{
    width: clamp(200px, 50%, 600px);
    padding: 16px;
    border-radius:10px;
    color: whitesmoke;
    background-color: black;
    cursor: pointer;
}


.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
} 

.design-form{
    position: absolute;
    opacity: 1;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}


