:root{
    --box-margin: 20px;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.profile-left {
    flex: calc(30% - var(--box-margin)*2);
    margin: 0 var(--box-margin);
    min-height: 400px;
    background-color: aquamarine;
}

.profile-left .submit-your-work-btn{
    width: clamp(200px, 50%, 600px);
    padding: 16px;
    margin: 10px;
    border-radius:10px;
    color: whitesmoke;
    background-color: black;
    cursor:pointer;
}

.profile-right {
    flex: calc(70% - var(--box-margin)*2);
    margin: 0 var(--box-margin);
    min-height: 400px;
    background-color: lightblue;
}

@media (max-width: 700px) {
    .profile-left{
        flex: 100%;
    }
    .profile-right{
      flex: 100%;
  }
}

