@import "../../index";

.card {
    display: grid;
    width: 100%; height: 100%;
    grid-template-rows: 6fr 2fr 1fr auto;
    grid-gap: 1rem;
    padding: 1rem;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        overflow: hidden;
    }

    .text-flex{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    .category-tag{
        background-color: lighten(#4e54c8, 1%);
        border-radius: 50px;
        padding: 4px 8px;
        color: #B3B3B3
    }

    button{
        @extend %btn-reset;
        cursor: pointer;
    }
}

.show-login-container{
    position: fixed;
    top: 0; bottom:0; left: 0; right: 0;
    background: rgba(0,0,0, 0.5);
}

.show-login{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: grid; place-items: center;
    width: clamp(325px, 35%, 1200px);
    padding: 3rem 1rem;
    background-color: #181818;
    z-index: 5000;

    .closebtn{
        @extend %btn-reset;
        position: absolute;
        top: 0; right: 0;
        cursor: pointer;

        display: grid; place-items: center;
        i{color: #404040;}
    }
}
