.form-container{
    width: 100%;
    height: clamp(500px, 75vh, 1000px);
    background-color: #f3f7f7;
    color: var(--lighter-black);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);

    input{
        display: block;
        width: 100%;
        padding: 1rem;
        margin: 10px 0;
        border: 1px solid black;
        border-radius: 2px;
        font-size: 1rem;
    }

    button{
        display: inline-block;
        width: 50%;
        border-radius: 50px;
        background-color: var(--theme-purple);
        color: whitesmoke;
        padding: 1rem;
        margin: 10px 0;
        font-size: 1rem;

        &:hover{ transform: scale(0.98);}
    }
}

.flex-split{
    display: flex; flex-wrap: wrap;
    width: 100%; height: 100%;
}

.left-form{
    flex: 50%;
    padding: 1rem;
    display: flex; align-items: center; justify-content: center;

    select{
        display: flex; flex-flow: wrap;
        border: none; background: none;
        width: 200px;
        padding: 1rem;
        font-size: 1.2rem;
        scrollbar-width: none; /*For Firefox*/;

        option{
            border: 1px solid black;
            margin: 8px 0;
            padding: 8px 16px;
            border-radius: 50px;

            &:checked{background: linear-gradient(#4e54c8, #4e54c8);}
        }

        
    }
}

.left-form-container{
    width: clamp(300px, 90%, 1200px);
    margin: 0 auto;
    display: flex; flex-flow: column; align-items: center;
}

.form-image{
    flex: 50%;
    min-height: 100px;
    background-color: #4e54c8;
    background-image: url('../../images/PurpleCheese.svg');
    background-attachment: fixed;
    background-size: cover;
    border-radius: 5px;
}

@media (max-width: 800px) {
    .left-form {
        flex:100%; order: 5;
    }
    .form-image{
        flex:100%; order: 1;
    }
}

.success-page{
    text-align: center;
}