.gradient-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#e66465, #9198e5);
    height: 40vh;
    width: 100%;
    font-size: calc(15px + 0.8vw);
    text-align: center;
    margin-bottom: 20px;
}

.form-welcome{
    width: 100%
}

.flex-container1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.MultiForm{
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid black;
    width: 90%;
}
  
.SampleCard{
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    width: 250px;
    overflow: hidden;
}

/* flex sets the initial length of the box
it seems like you cannot set margin with two boxes at 50% because that will make the mox too big
Seems counterintuitive given border-box
*/
.left-box1{
    padding: 5px;
    background-color: whitesmoke;
    border: 1px solid black;
    height: 500px;
    flex: calc(50% - 2em);
    margin: 1em;
    
}

.right-box1{
    display:flex;
    justify-content: center;
    padding: 5px;
    background-color: thistle;
    border: 1px solid black;
    height: 500px;
    flex:  calc(50% - 2em);
    margin: 1em;
}

/* Responsive layout - when the screen is less than 700px wide, 
make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
    .left-box1, .right-box1{   
      flex:100%
    }
  }

.form-container input[type=text], select{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
}



.form-container button{
    display: inline-block;
    width: 50%;
    border-radius: 5px;
    background-color:olivedrab;
    padding: 10px;
    margin: 10px 0;
}

.form-container button:hover{
    background-color:yellowgreen
}

.form-container{
    width:100%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.confirm{
    padding: 10px;
    border: 1px solid #ddd;
    list-style-type: none;
}

