h2{
    text-align:center;
}

.form-welcome{
    width: 100%
}

.gradient-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#e66465, #9198e5);
    height: 50vh;
    width: 100%;
    color: rgb(46, 46, 46);
    font-size: calc(15px + 0.8vw);
    text-align: center;
    margin-bottom: 20px;
}


/*---------- Flexbox ---------- */
.flex-container1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 10px;
}

/* the flex property sets the initial length of the box. You cannot give two boxes at 50% any margin 
because that will make the box too big. Solution: use calc() */
.left-box1{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 500px;
    flex: calc(50% - 2em);
    margin: 1em;
    border: 1px solid black;
}

.right-box1{
    display:flex;
    justify-content: center;
    padding: 5px;
    height: 500px;
    flex: calc(50% - 2em);
    margin: 1em;
}

/* Responsive layout - when the screen is less than 700px wide, 
make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
    .left-box1, .right-box1{   
      flex:100%;
    }
}


/*---------- Multi-step Form Styles ---------- */
.form-container{
    width:100%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: whitesmoke;
}

.form-container input[type=text], select{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
}

.form-container button{
    display: inline-block;
    width: 50%;
    border-radius: 5px;
    background-color:olivedrab;
    padding: 10px;
    margin: 10px 0;
}

.form-container button:hover{
    background-color:yellowgreen
}

.Confirm ul{
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    list-style-type: none;
    line-height: 2;
}

.Success{
    text-align: center;
}


/*---------- Card Preview Styles ---------- */
.SampleCard{
    display: grid;
    grid-template-rows: max-content 200px 1fr max-content;
    max-width: 300px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
}

.SampleCard:hover{
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.4);
}

.SampleCard img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.SampleCard .card-text{
    padding: 5px;
    text-align:center;
    line-height: 1.4;
}

