.feature-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:20px;
    background-color: black;
    color:whitesmoke;
}

.feature-left{
    flex: 40%;
    display:flex;
    align-items: center;
    min-height: 300px;
}

.feature-right{
    flex:60%;
    display:flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:767px) {
    .feature-left, .feature-right{
        flex:100%;
    }
}