/*
Styles for components in ./components/art-central 
*/
.art-central{
    background: linear-gradient(45deg,#e66465, #9198e5);
}

a{
    text-decoration:none;
    color:white;
}

.ArtCentralWelcome{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#e66465, #9198e5);
    width: 100%;
    height: 40vh;
    font-size: calc(15px + 0.8vw);
    text-align: center;
    margin-bottom: 20px;
}
  
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}
.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.Pagination{
    margin: 10px 0;
}

.Pagination li{
    display:inline-block;
    text-align:center;
}

.Pagination a{
    color: black;
    padding: 8px 16px;
    border-radius:5px;
}

.Pagination li.active{
    background-color: var(--color-azure);
}

.Pagination li:hover:not(.active){
    background-color: var(--color-muted-black);
}




/*---------- Card Preview Styles ---------- */
.SampleCardc{
    display: grid;
    grid-template-rows: 200px 1fr max-content;
    max-width: 300px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
}

.SampleCardc:hover{
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.4);
}

.SampleCardc img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.SampleCardc .card-text{
    padding: 5px;
    text-align:center;
    line-height: 1.4;
}

.SampleCardc button{
    padding: 8px;
    margin: 2px;
    background-color: azure;
    border-radius: 5px;
}

.art-home.grid-container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: 280px;
    grid-gap: 1rem;
}

.art-home.grid-container div{
    border: 1px solid black;
}