.Pagination-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    margin: 20px 0;

    a{
        background-color: black;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        border-radius: 4px;
        margin: 0 4px;
        padding: 8px 16px;
    
        &:hover{
            background-color:darkslategray;
        }
        
        &.active{
            background-color:darkslategray;
        }
    }
}

