.Footer{
    width: 100%;
    padding: 20px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    line-height: 1.5;
    
    a{
      color:white;
      text-decoration: underline;
    }
}
  