.header-container{
    width:100%;
    padding-left:30px;
    padding-bottom:20px;
    background-color:black;
}

.nav-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;

    .nav-start{
        flex-basis: 40%;
        display: flex;
        justify-content: flex-start;
    }
    
    .nav-end{
        flex-basis:40%;
        display:flex;
        justify-content: flex-end;
    }

}

.expanded-nav {
    width: 100%;

    a{
        display: block;
        padding: 15px;  
    }
}

.nav-link{
    font-size:1.2rem;
    margin-right: 30px;
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;

    &:hover{
        color:gray;
    }

    &.active{
        color:lightcoral;
    }

    &.hamburger-menu{
        display:none;
    }
}


@media screen and (max-width:900px) {
    .nav-container.nav-end{
        display: none;
    }
    .nav-link.hamburger-menu{
        display: inline-block;
    }
    .is-hidden-mobile{
        display: none;
    }
}

@media screen and (min-width:900px){
    .expanded-nav{
        display:none;
    }
}