.header{
    width:100%;
    padding-left:30px;
    padding-bottom:20px;
    background-color:black;
}

.nav-container{
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.expanded-nav a{
    display: block;
    padding: 15px;
}

.nav-link{
    font-size:1.2rem;
    margin-right: 30px;
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;
}

.nav-link:hover{
    color:gray;
}

.nav-link.hamburger-menu{
    display:none;
}

.nav-start{
    display: flex;
    justify-content: flex-start;
    flex-basis:40%;
}

.nav-end{
    display:flex;
    justify-content: flex-end;
    flex-basis:40%;
}

@media screen and (max-width:900px) {
    .nav-end{
        display: none;
    }
    .nav-link.hamburger-menu{
        display: inline-block;
    }
    .is-hidden-mobile{
        display:none;
    }
}

@media screen and (min-width:767px){
    .expanded-nav{
        display:none;
    }
}

.nav-link.active{
    color:lightcoral;
}
