.header-container{
    width:100%;
    padding: 0 1.5rem 1rem;
    background-color:black;
}

.nav-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;

    .nav-start{
        flex-basis: 40%;
        display: flex;
        justify-content: flex-start;
    }
    
    .nav-end{
        flex-basis:40%;
        display:flex;
        justify-content: flex-end;
    }
}

.expanded-nav {
    width: 100%;
    a{
        display: block;
        padding: 15px;  
    }
}

@media screen and (min-width:900px){
    .expanded-nav{
        display:none;
    }
}


.nav-link{
    font-size: 1.2rem;
    margin-right: 30px;
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;

    &:last-child{
        margin-right:0;
    }

    &:hover{
        color:gray;
    }

    &.active{
        font-weight: 600;
    }

    &.hamburger-menu{
        display: none;
    }

    @media screen and (max-width:900px) {
        &.hamburger-menu{
            display: inline-block;
        }
        &.is-hidden-mobile{
            display: none;
        }
    }
}




