.about-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .left{
        flex: 40%;
        display:flex;
        align-items:center;
        min-height: 200px;
        padding-left: 50px;
        background-color: #264e70;
        color: white;
    }

    .right{
        flex: 60%;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        padding: 50px 20px;

        .item{
            width: clamp(500px, 75%, 1200px);
            padding: 20px;
        }
    }
}


@media (max-width: 767px) {
    .about-container.left, .about-container.right{
        flex: 100%;
    }
}


