@import '../../index';

.login-container-temp{
    width: 100%; min-height: 90vh;
    display: flex; justify-content: center;
    background-color: var(--lighter-black);
}

.top-spacer{height: 15vh;
    background-color: var(--lighter-black);
}

//-----     Login Form Styles   -----
//------                        -----
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.login-form-container{
    display: flex; flex-flow: column nowrap; align-items: center;
    width: clamp(325px, 35%, 800px);
    padding: 1rem;
}

.login-form-header{
    text-align: center;
    font-size: 1.4rem;
    color: white;

    p{color:#B3B3B3}
}  

.Login-form{
    display: flex; flex-flow: column nowrap; align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 6px;
    color: white;
    position: relative;
    z-index: 100;

    #login-spinner{
        transform: translate(-50%, -50%);
        animation: spin 2s infinite;
        text-align: center;
    }

    label{align-self:flex-start;}

    input{
        display: block;
        width: 100%;
        padding: 1rem; margin: 10px 0;
        border-radius: 6px; outline: none; border:none;
        background-color: #404040;
        color: #B3B3B3;
        font-size: 1.2rem;
    }

    button[type="submit"]{
        display: block;
        width: 100%;
        padding: 1rem; margin: 1rem 0;
        border: none; border-radius: 3px;
        background: linear-gradient(45deg, #ff4e50, #f9d423); 
        color: whitesmoke;
        font-size: 1.25rem; font-weight: 500;
        cursor: pointer;

        &:hover{ transform: scale(0.98); }
    }

    button[type="button"]{
        @extend %btn-reset;
        border-radius: 0;
        border-bottom: 1px solid whitesmoke;
        font-size: 1.1rem;
        cursor: pointer;
    }

    .login-footer{
        text-align: center;
        margin-top: 1rem;

        p{ margin: 1rem 0; font-size: 1.1rem; }
    }

    .error-msg{ color: #B3B3B3}  
}
