/*
index.css is imported in index.js, which effectively renders the entire page
That means index.css is at the top of the hierarchy, so everyone in the directory can access it
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}

.container {
  width: 100%;
  margin: auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid whitesmoke;
  padding: 30px;
  border-radius: 5px;
}

.Introduction{
  color: black;
  padding: 20px;
  background-color: whitesmoke;
  width: 100%;
  border: 2px solid black;
  margin: 20px 0;
}

.AboutPage{
  color: black;
  padding: 20px;
  background-color: whitesmoke;
  width:100%;
  border: 2px solid black;
  margin: 20px 0;
}

.ArtGalleryWelcome{
  color: black;
  padding: 20px;
  background-color: lightpink;
  width: 100%;
  border: 2px solid black;
  margin: 20px 0;
}

.Login{
  color: black;
  padding: 20px;
  background-color: whitesmoke;
  width: 100%;
  margin-top: 10px;
}

.AddForm{
  padding: 20px;
  background-color: whitesmoke;
  width: 100%;
  margin-top: 10px;
}

.LoginButton{
  float: right;
}

.NewCard{
  margin-top:10px;
  width: 400px;
  height: 400px;
}

.Footer{
  background-color: black;
  color: whitesmoke;
  text-align: center;
  width: 100%;
  padding: 20px;
  margin-top: 15px;
  line-height: 1.5;
}

.Footer a{
  color:white;
  text-decoration: underline;
}

.Navbar li{
  display: inline;
  list-style-type: none;
  padding: 15px 30px 15px 0;
  margin: 10px 0;
}

.RouterLink{
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vw;
}

.RouterLink:hover{
  text-decoration: underline;
}

.Header{
  margin-bottom: 10px;
}

.MultiForm{
  position: relative;
  width: 30%;
  padding: 20px;
  background-color: whitesmoke;
  border: 1px solid black;
  height: 500px;
}


.flex-container{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.ButtonGroup{
  position: absolute;
  top: 450px;
}






/*-------- Currently Unused Below this Line-------- */
.card{
  background-color: #f7df1e;
  padding: 20px;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Something interesting here with .cardlegacy vs .card.legacy */
.card.legacy{
border-left:10px yellowgreen;
background-color:teal;
}

.likeButton{
  border-radius: 5px;
  background-color: steelblue;
  height: 30px;
  padding: 5px;
}

.deletebtn{
  float: right;
  color:tomato;
  margin-top:auto;
  margin-bottom: auto;
}






