/*
index.css is imported in index.js, which effectively renders the entire page
That means index.css is at the top of the hierarchy, so everyone can access it
*/
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid whitesmoke;
  padding: 30px;
  border-radius: 5px;
}

.Welcome{
  color: black;
  padding: 20px;
  background-color: #496f94;
  width: 100%;
}

.Login{
  color: black;
  padding: 20px;
  background-color: whitesmoke;
  width: 100%;
}

.AddForm{
  padding: 20px;
  background-color: whitesmoke;
  width: 100%;
}

.LoginButton{
  float:right;
}

.Footer{
  background-color: black;
  color: whitesmoke;
  text-align: center;
  width: 100%;
  padding: 20px;
  margin-top: 15px;
}

.Navbar li{
  display: inline;
  list-style-type: none;
  padding: 15px;
  margin: 10px;  
}

.RouterLink{
  text-decoration: none;
  color: black;
  font-family: 'Changa', sans-serif;
  font-size: 2vw;
}

.RouterLink:hover{
  text-decoration: underline;
}

.Header{
  margin-bottom: 10px;
}








/*-------- Currently Unused Below this Line-------- */
.card{
  background-color: #f7df1e;
  padding: 20px;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Something interesting here with .cardlegacy vs .card.legacy */
.card.legacy{
border-left:10px yellowgreen;
background-color:teal;
}

.likeButton{
  border-radius: 5px;
  background-color: steelblue;
  height: 30px;
  padding: 5px;
}

.deletebtn{
  float: right;
  color:tomato;
  margin-top:auto;
  margin-bottom: auto;
}






