/*
index.css is imported in index.js, which effectively renders the entire page
That means index.css is at the top of the hierarchy, so everyone can access it
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 50%;
  margin: auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid whitesmoke;
  padding: 30px;
  border-radius: 5px;
}

.Header{
  color: black;
  padding: 20px;
  background-color: lightgray;
  width: 100%;
  margin: 10px;
}

.Login{
  color: black;
  padding: 20px;
  background-color: lightgray;
  width: 100%;
  margin: 10px;
}

.AddForm{
  padding: 20px;
  background-color: whitesmoke;
  width: 100%;
  margin: 10px;
}

.NewCard{
  margin: 10px;
}

.LoginButton{
  float:right;
}




/*--- Currently Unused Below this Line--- */
.card{
  background-color: #f7df1e;
  padding: 20px;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Something interesting here with .cardlegacy vs .card.legacy */
.card.legacy{
border-left:10px yellowgreen;
background-color:teal;
}

.likeButton{
  border-radius: 5px;
  background-color: steelblue;
  height: 30px;
  padding: 5px;
}

.deletebtn{
  float: right;
  color:tomato;
  margin-top:auto;
  margin-bottom: auto;
}






